/* style du template */

body{
    font: $police;
    font-size: $size;
    color: $primaire;
}

/* header du site avec la navigation */
header{
   padding: 30px 0 
}

/* mise en page du contenu du site */

    
/* mise en page des articles du blog avec la class .blog */
.blog{
    padding: 0 0 30px 0;
    @include animate(fade-in, .6s, 400ms)
} 

/* mise en page du bloc droit avec la class .widget */
aside {@include animate(bounce-in-right, 1s, 500ms)}

.widget{
    padding: 0 0 30px 0;
        h4{
        margin-bottom: 20px;
        text-decoration: underline;
            }
    }

/* mise en page du footer, bas de page */
footer {
    padding: 30px 0
}