/* mise en forme de la police à utliser */
@font-face {
    font-family: 'web_symbolsregular';
    src: url('fonts/websymbols-regular-webfont.eot');
    src: url('fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/websymbols-regular-webfont.woff') format('woff'),
         url('fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('fonts/websymbols-regular-webfont.svg#web_symbolsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
strong{
    font-weight:bold;
}
span.symbol{
    font-family: 'web_symbolsregular';
    font-weight: normal;
    font-style: normal;
    margin-right: 10px;
}
a   {
    font-size: $size;
    line-height: $size * 1.2;
    text-decoration: none;
}

h1, h1>a {
    font-size: $size * 2.2; 
    line-height: $size * 2.6;
    }

h2 {
    font-size: $size * 1.6; 
    line-height: $size * 2;
    }

h3{
    font-size: $size * 1.4;
    line-height: $size * 1.8;
    }
h5{
    font-size: $size * 1.2;
    line-height: $size * 1.6;
}

p{
    font-size: $size;
    line-height: $size * 1.2;
    margin-bottom: 20px;
    }

ul,li,td{
    font-size: $size;
    line-height: $size * 1.2;
} 

a:link {
    color: $primaire;
    }

a:visited {
    color: $primaire;
    }

a:hover {
    color: $primaire;
    }

a:active, a:focus {
    color: $primaire;
    }
blockquote {
    border-left: 10px solid $primaire;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
        p {
    display: inline;
    font-size: $size;
        }
    }

blockquote:before {
    content: open-quote;
    font-size: $size * 1.2;
    line-height: $size * 1.4;
    margin-right: 0.25em;
    vertical-align: -0.4em;
    }