@charset "UTF-8";
/* Reset et importation des mixins CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input, textarea {
  outline-style: none;
  border-color: transparent;
  box-shadow: none !important;
}

/* @include animate(animation-name, animation-duration, animation-delay); */
/* voir le projet et instruction: https://github.com/simko-io/animated.sass/blob/master/README.md */
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes bounceInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  60% {
    opacity: 1;
    -webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
    transform: translateX(-30px);
  }

  80% {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
  }

  100% {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

/* pour le bloc sidebar */
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  60% {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

/* pour le personnage sur la page accueil */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* pour la partie section*/
/* Largeur, espace entre les blocs et nombre de blocs */
/* importer les éléments du style */
/* mise en forme de la police à utliser */
@font-face {
  font-family: 'web_symbolsregular';
  src: url("fonts/websymbols-regular-webfont.eot");
  src: url("fonts/websymbols-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/websymbols-regular-webfont.woff") format("woff"), url("fonts/websymbols-regular-webfont.ttf") format("truetype"), url("fonts/websymbols-regular-webfont.svg#web_symbolsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

strong {
  font-weight: bold;
}

span.symbol {
  font-family: 'web_symbolsregular';
  font-weight: normal;
  font-style: normal;
  margin-right: 10px;
}

a {
  font-size: 16px;
  line-height: 19.2px;
  text-decoration: none;
}
a:link {
  color: #666666;
}
a:visited {
  color: #666666;
}
a:hover {
  color: #666666;
}
a:active, a a:focus {
  color: #666666;
}

h1, h1 > a {
  font-size: 38.4px;
  line-height: 44.8px;
}

h2, h2 > a {
  font-size: 35.2px;
  line-height: 41.6px;
}

h3 {
  font-size: 25.6px;
  line-height: 32px;
}

h4 {
  font-size: 22.4px;
  line-height: 28.8px;
}

h5 {
  font-size: 19.2px;
  line-height: 25.6px;
}

h6 {
  font-size: 19.2px;
  line-height: 25.6px;
}

p {
  font-size: 16px;
  line-height: 19.2px;
  margin-bottom: 20px;
}

ul, li, td {
  font-size: 16px;
  line-height: 19.2px;
}

ul ol {
  list-style-type: value;
}

blockquote {
  border-left: 10px solid #666666;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C" "\201D" "\2018" "\2019";
}
blockquote p {
  display: inline;
  font-size: 16px;
}

blockquote:before {
  content: open-quote;
  font-size: 19.2px;
  line-height: 22.4px;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

pre {
  background: #EEE;
  padding: 5px;
  border-left: 5px solid #666666;
}

table {
  margin-bottom: 15px;
}

th {
  border-bottom: 2px solid #000;
  padding: 10px 8px;
}

td {
  border-bottom: 1px solid #ccc;
  padding: 6px 8px;
}

/* style du template */
body {
  font: "Helvetica Neue", sans-serif;
  font-size: 16px;
  color: #666666;
}

/* header du site avec la navigation */
header {
  padding: 30px 0;
}

/* mise en page du contenu du site */
section {
  overflow: hidden;
}

/* mise en page des articles du blog avec la class .blog */
.blog {
  padding: 0 0 30px 0;
  -webkit-animation-duration: 0.6s;
  -moz-animation-duration: 0.6s;
  -o-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 400ms;
  -moz-animation-delay: 400ms;
  -o-animation-delay: 400ms;
  animation-delay: 400ms;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}

/* mise en page du bloc droit avec la class .widget */
aside {
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 500ms;
  -moz-animation-delay: 500ms;
  -o-animation-delay: 500ms;
  animation-delay: 500ms;
  -webkit-animation-name: bounceInRight;
  -moz-animation-name: bounceInRight;
  -o-animation-name: bounceInRight;
  animation-name: bounceInRight;
}

.widget {
  padding: 0 0 30px 0;
}
.widget h4 {
  margin-bottom: 20px;
  text-decoration: underline;
}

/* mise en page du footer, bas de page */
footer {
  padding: 30px 0;
}

/* bloc header */
header .nav {
  position: relative;
  margin: 20px 0;
}
header .nav ul li.navigation {
  display: none;
}
header .nav ul {
  margin: 0;
  padding: 0;
}
header .nav li {
  margin: 0 5px 10px 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}
header .nav a {
  font-size: 19.2px;
  padding: 3px 12px;
  text-decoration: none;
  line-height: 100%;
}

/* style de la sidebar*/
/* style des formualires et des boutons */
label {
  display: inline-block;
  width: 100%;
  color: #cccccc;
}

input[type='text'], textarea {
  background-color: #fff;
  background-image: none;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  font-size: 15px;
  padding: 6px 12px !important;
  width: 60% !important;
  height: 36px !important;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

input[type='text']:hover, textarea:hover {
  border: 1px solid #000;
}

textarea {
  height: 150px !important;
  resize: none;
}

input.capcha {
  width: 60px;
}

input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #666666;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  text-decoration: none;
}
input[type='submit']:hover {
  padding: 11px;
  background: none;
  border: 1px solid #666666;
  color: #666666;
  cursor: pointer;
}

/* style du footer */
/* Valeurs par defaut */
/* Début mise en page */
.wrap {
  width: 1160px;
  margin: 0 auto;
}

.wrap:after {
  content: "";
  display: table;
  clear: both;
}

.clear:before, .clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

.clear {
  *zoom: 1;
}

/* Ajout des options sur tous les blocs */
.bloc-1, .bloc-2, .bloc-3, .bloc-4, .bloc-5, .bloc-6, .bloc-7, .bloc-8, .bloc-9, .bloc-10, .bloc-11, .bloc-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding: 0 10px;
}
.bloc-1 img, .bloc-2 img, .bloc-3 img, .bloc-4 img, .bloc-5 img, .bloc-6 img, .bloc-7 img, .bloc-8 img, .bloc-9 img, .bloc-10 img, .bloc-11 img, .bloc-12 img {
  max-width: 100%;
}

/* Création des blocs */
.bloc-1 {
  width: 8.33333%;
}

.bloc-2 {
  width: 16.66667%;
}

.bloc-3 {
  width: 25%;
}

.bloc-4 {
  width: 33.33333%;
}

.bloc-5 {
  width: 41.66667%;
}

.bloc-6 {
  width: 50%;
}

.bloc-7 {
  width: 58.33333%;
}

.bloc-8 {
  width: 66.66667%;
}

.bloc-9 {
  width: 75%;
}

.bloc-10 {
  width: 83.33333%;
}

.bloc-11 {
  width: 91.66667%;
}

.bloc-12 {
  width: 100%;
}

/* responsive */
@media handheld, only screen and (max-width: 1160px) {
  .wrap {
    width: 100%;
  }
}
@media handheld, only screen and (max-width: 768px) {
  .wrap {
    width: 100%;
    min-width: 0;
    margin: 0;
    padding: 0;
  }

  [class*='bloc-'] {
    width: auto;
    float: none;
    margin: 0;
    padding-top: 10px;
  }

  /* images */
  img {
    max-width: 100%;
    height: auto;
  }

  /* navigation */
  header .nav {
    position: relative;
    min-height: 40px;
  }
  header .nav ul {
    width: 60%;
    padding: 5px 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    border: solid 1px #aaa;
    background: white url(img/icon-menu.png) no-repeat 10px 14px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  header .nav li {
    display: none;
    /* hide all <li> items */
    margin: 0;
  }
  header .nav ul li.navigation {
    display: block;
  }
  header .nav a {
    display: block;
    padding: 5px 5px 5px 32px;
    text-align: left;
  }
  header .nav .navigation a {
    background: none;
  }
  header .nav ul:hover {
    background-image: none;
  }
  header .nav ul:hover li {
    display: block;
    margin: 0 0 5px;
  }
  header .nav ul:hover .active {
    background: url(img/icon-check.png) no-repeat 10px 10px;
  }

  /* formulaire */
  input[type='text'], textarea, input.capcha, input[type='submit'] {
    width: 100% !important;
  }
}
